<tr>
  <td class="center"><%=h caresheet.name %></td>
  <td class="center"><%=h caresheet.is_active %></td>
  <td class="center">
    <%= link_to 'Edit', edit_admin_caresheet_path(caresheet) %> | 
    <%= link_to 'Destroy', [:admin, caresheet], :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>