<h1>Editing caresheet</h1>

<% form_for([:admin, @caresheet]) do |f| %>
  <fieldset>
    <%= render 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Update", :class => 'submit' %> - or - <%= link_to 'Cancel', admin_caresheets_path %>
    </p>
  </fieldset>
<% end %>