<h1>New caresheet</h1>

<% form_for([:admin, @caresheet]) do |f| %>
  <fieldset>
    <%= render 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Create", :class => 'submit' %> - or - <%= link_to 'Cancel', admin_caresheets_path %>
    </p>
  </fieldset>
<% end %>