<h1>Editing post_o_matic_category</h1>

<% form_for([:admin, @post_o_matic_category]) do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Update", :class => 'submit' %> - or - <%= link_to 'Cancel', admin_post_o_matic_categories_path %>
    </p>
  </fieldset>
<% end %>