<%= sub_navigation(['New post-o-matic category', new_admin_post_o_matic_category_path]) %>

<h1>Listing Post-O-Matic Categories</h1>

<table class="three_col">
  <thead>
    <tr>
      <th class="first"><span>Name</span></th>
      <th><span>Url</span></th>
      <th class="last"><span>Actions</span></th>
    </tr>
  </thead>
  <tbody>
    <%= render @post_o_matic_categories %>
  </tbody>
</table>