<%- @page_title = @announcement.title_short -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_announcements" %>
<%- end -%>
<div class="announcement">
  <h2><%= @announcement.title_long %></h2>
  <%= @announcement.body_long %>
</div>