.DS_Store
config/database.yml
config/*.sphinx.conf
db/*.sqlite3
db/sphinx/*
log/*
public/about.html
public/contact-us.html
public/announcements
public/assets
public/browse
public/cache/*
public/products
public/cart
tmp/*