<%- @page_title = "Search #{' for "' + CGI::unescape(params[:keywords]) + '"' if params[:keywords]}" -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_search" %>
<%- end -%>
<h2>Search Results</h2>

<div id="products">
  <% if @products.empty? -%>
    <p>No products were found matching <em>"<%= CGI::unescape(params[:keywords]) %>"</em>.</p>
  <% else -%>
    <%= render :partial => 'product', :collection => @products %>
  <% end -%>
</div>