<%- @page_title = 'In your cart' -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_cart" %>
<%- end -%>
<h2>Your cart</h2>
<%- unless @order.line_items.empty? -%>
  <%= render :partial => "cart" %>
<%- else -%>
  <p>There are no items in your cart.</p>
<%- end -%>