<%- @page_title = 'In your cart' -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_cart" %>
<%- end -%>
<h2>Your cart</h2>
<%- unless @order.line_items.empty? -%>
  <%= render "cart" %>
<%- else -%>
  <p>There are no items in your cart.</p>
<%- end -%>

<br/><hr/><br/>

<table width=100%>
  <tr>
    <td>
      <span style="font-size: 10pt; color: #f7f7d6; padding-left: 3px; padding-right:3px"><b>Shipping Information</b></span>
      <table>
        <tr>
          <td width=50% valign=top>
            <p><b><u>Animals</u></b></p>
            <p style="font-size: 8pt; color: #f7f7d6; padding-left: 3px; padding-right:3px">Most animal shipment prices are as follows, though actual prices may vary slightly depending on weight of quantity of animals being shipped. (These charges include all necessary shipping materials such as boxes, insulation and heat packs):</p>
            <table cellpadding=1 cellspacing=0  style="border: solid 1px #f7f7d6">
              <tr>
                <td style="border: solid 1px #f7f7d6">Weight</td>
                <td style="border: solid 1px #f7f7d6">Over-night Shipping Cost*</td>
              </tr>
              <tr>
                <td style="border: solid 1px #f7f7d6">0-3lbs</td>
                <td style="border: solid 1px #f7f7d6">$45.00</td>
              </tr>
              <tr>
                <td style="border: solid 1px #f7f7d6">3-10lbs</td>
                <td style="border: solid 1px #f7f7d6">$55.00</td>
              </tr>
              <tr>
                <td style="border: solid 1px #f7f7d6">10lbs+</td>
                <td style="border: solid 1px #f7f7d6">$90.00**</td>
              </tr>
              <tr>
                <td colspan=2 style="border: solid 1px #f7f7d6; color: #f7f7d6; font-size: 7pt">*Average shipping charges. If charges are different, prior authoriztion is required.<br />**larger animals (ie. pythons & boas) are shipped via Delta Dash.
                </td>
              </tr>
            </table>
          </td>
          <td valign=top>
            <p><b><u>Dry Goods</u></b></p>
            <p style="font-size: 8pt; color: #f7f7d6; padding-left: 3px; padding-right:3px">Dry good and supplies are shipped via UPS ground at an average flat fee of $4.95.  Some heavier items such as sand & cages have higher shipping costs which will require prior authoriztion.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>