body.announcements table {
  margin: 0 auto;
  width: 50%;
}
body.announcements table tr th {
  font-size: 125%;
}
body.announcements table tr td {
  text-align: center;
}
body.announcements div#right_column div.announcement p.image {
  float: left;
  margin: 0 10px 10px 0;
}
