<div id="navigation">
  <h1><span>Categories</span></h1>
  <%=
    content_tag(:ul, categories_nested_for_list do |category|
      content_tag(:li, link_to(category.name, category_path(category.path)), :class => category_active_state(category))
    end)
  %>
</div>