<div class="featured">
  <h3><%= featured_product.name %></h3>
  <%= textilize(featured_product.description) %>
  <p class="more_info"><%= link_to 'More info', product_path(featured_product) %></p>
</div>
