<h1>Editing announcement</h1>

<% form_for([:admin, @announcement], :html => { :multipart => true }) do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Update", :class => 'submit' %> - or - <%= link_to 'Cancel', admin_announcements_path %>
    </p>
  </fieldset>
<% end %>