<%= sub_navigation(['New announcement', new_admin_announcement_path]) %>

<h1>Listing announcements</h1>

<table class="five_col">
  <thead>
    <tr>
      <th class="first"><span>Title short</span></th>
      <th><span>Body short</span></th>
      <th><span>Is featured</span></th>
      <th><span>Is active</span></th>
      <th class="last"><span>Actions</span></th>
    </tr>
  </thead>
  <tbody>
    <%= render @announcements %>
  </tbody>
</table>