<h1>Editing post_o_matic_posting</h1>

<% form_for([:admin, @post_o_matic_posting]) do |f| %>
  <fieldset>
    <%= render 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Update", :class => 'submit' %> - or - <%= link_to 'Back', admin_post_o_matic_postings_path %>
    </p>
  </fieldset>
<% end %>