<%= controller_options %>
<%- content_for :head do -%>
<script type="text/javascript" charset="utf-8">
  $().ready(function() {
    $('#post_o_matic_postings').tableDnD({
      onDrop: function(table, row) {
        $.ajax({
          type: "POST",
          url: "<%= url_for(:controller => 'admin/post_o_matic_postings', :action => 'update_positions') %>",
          processData: false,
          data: $.tableDnD.serialize(),
          success: function(msg) {
            // alert('Queue successfully updated.');
          }
        });
      }
    })
  })
</script>
<%- end -%>
<h1>Listing Post-O-Matic Postings</h1>
<table class="six_col" id="post_o_matic_postings">
  <thead>
    <tr class="nodrop nodrag">
      <th class="first"><span>Product</span></th>
      <th>Category</th>
      <th>Ad duration</th>
      <th>State</th>
      <th>Position in queue</th>
      <th class="last"><span>Actions</span></th>
    </tr>
  </thead>
  <%- if @post_o_matic_categories -%>
    <%- @post_o_matic_categories.each do |post_o_matic_category| -%>
      <tbody>
        <%= render :partial => 'post_o_matic_posting', :collection => post_o_matic_category.post_o_matic_postings %>
      </tbody>
    <%- end -%>
  <%- else -%>
    <tbody>
      <%= render :partial => 'post_o_matic_posting', :collection => @post_o_matic_postings %>
    </tbody>
  <%- end -%>
</table>