<h2>Thank you!</h2>

<p>Your Order Has Been Received!</p>

<p>One of our representatives will be contacting you to discuss shipping and any additional shipping charges, should they exists.</p>

<p>If you have any questions, please contact us at info@prehistoricpets.com or (714) 964-3525.</p>