<%= controller_options %>

<h1>Listing categories</h1>

<table class="three_col">
  <thead>
    <tr>
      <th class="first"><span>Name</span></th>
      <th><span>Description</span></th>
      <th class="last"><span>Actions</span></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @categories %>
  </tbody>
</table>