<%= controller_options %>

<h1>Listing products</h1>

<table class="eight_col">
  <thead>
    <tr>
      <th class="first"><span>Category</span></th>
      <th><span>Name</span></th>
      <th><span>Price</span></th>
      <th><span>Is active</span></th>
      <th><span>Is featured</span></th>
      <th><span>Current Post-O-Matic postings</span></th>
      <th><span>Scheduled Post-O-Matic postings</span></th>
      <th class="last"><span>Actions</span></th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>