<h1>New product</h1>

<% form_for([:admin, @product], :html => { :multipart => true }) do |f| %>
  <fieldset>
    <%= render 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit "Create", :class => 'submit' %> - or - <%= link_to 'Cancel', admin_products_path %>
    </p>
  </fieldset>
<% end %>
