<%- @page_title = @category.name -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_categories" %>
<%- end -%>
<div id="products">
  <%- @count = 0 -%>
  <%= render 'product', :collection => @products %>
</div>