<%- @page_title = @category.path(:name).split('/').join(' &raquo; ') -%>
<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag "_categories" %>
<%- end -%>

<div id="products">
  <%- if @products.empty? -%>
    <p>Currently out of stock, please give us a call.</p>
  <%- else -%>
    <%= render :partial => 'product', :collection => @products %>
  <%- end -%>
</div>